# Created by .ignore support plugin (hsz.mobi)
.idea/
cucumber-9-p2-python/
cucumber-9-python/
__pycache__/
model_v1/
model_v2/
train_v1/
train_v2/
cc_v2/
cc_v1/
generation_v1.npy
generation_v2.npy
generation_v3.npy
